* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #a5c8ec;
}

.main {
    padding: 16px;
    margin: 0 auto;
    width: 600px;
}

.main--h1 {
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    font-style: italic;
}

.main--inputs {
    display: flex;
    justify-content: center;
    margin-top: 31px;

}

.main--where input {
    height: 35px;
    border: none;
    outline: none;
    border-radius: 4px;
    text-align: center;
    width: 262px;
}

.main--how input {
    height: 35px;
    border: none;
    outline: none;
    border-radius: 4px;
    text-align: center;
    width: 200px;
}

.main--how {
    margin-left: 10px;
}

.main--add {
    background-color: rgba(68, 147, 21, 0.5);
    height: 35px;
    width: 107px;
    margin-top: 18px;
    margin-left: 10px;
    outline: none;
    border: none;

}

.mini-button {
    width: 30px;
    height: 30px;
}

.task-container {
    display: flex;
    padding: 10px;
    margin-top: 5px;

}

.hide {
    display: none;
}

.newInputs {
    outline: none;
}

.sum-and-costs {
    font-size: 18px;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 40px;
}

.container-sum {
    font-size: 18px;
}


.containerMoney{
    display: flex;
    /*margin-left: 90px;/*/
    position: absolute;
    right: 780px;

}

.noRelative{
    position: unset;
}
.mini-button {
    margin-left: auto;
}

.data {
    margin-left: 14px;
}
.cost{
    margin-left: 5px;
}
.sum {
    margin-left: 511px;
    margin-bottom: 22px;
}
.pencil{
    width: 25px;
    height: 30px;
    margin-left: auto;
}